html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: grey;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background: url("../images/bg3.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.main {
    width: 90%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo img {
    position: fixed;
    float: left;
    width: 110px;
    height: 100px;
    box-shadow: 0px 10px 10px 0px;
    margin: 5px 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

header nav {
    position: fixed;
    width: 100%;
}

header nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    color: white;
    text-align: center;
    transition: 1s;
}

header nav.black ul {
    background: black;
}

header nav ul li {
    display: inline-block;
    padding: 20px;
}

header nav ul li a {
    color: white;
    font-size: 20px;
}

.menu-icon {
    width: 100%;
    color: white;
    text-align: right;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 260px;
}

.parole {
    width: 420px;
    text-align: center;
    padding: 10px 20px 20px 20px;
    position: absolute;
    left: 25%;
    top: 25%;
    border: 2px solid white;
}

.parole h1 {
    font-size: 44px;
    font-weight: bold;
    color: white;
    padding: 0;
    border-bottom: 2px solid white;
}

.parole h5 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.parole img {
    width: 150px;
    height: 200px;
    /*transform: rotate(20deg);*/
}

.loginbox {
    width: 320px;
    height: auto;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0px 20px 40px 20px;
    position: absolute;
    top: 60%;
    left: 75%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.popupI,
.popupR {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
}

.closeI,
.closeR {
    color: black;
}

.closeI:hover,
.closeI:hover {
    color: black;
    cursor: pointer;
}

.inscriptbox {
    width: 500px;
    height: auto;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 0px 20px 40px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.recupbox {
    width: 500px;
    height: auto;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 0px 20px 40px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.avatar {
    width: 110px;
    height: 110px;
    color: white;
    background: red;
    border-radius: 50%;
    margin-left: 32%;
    margin-top: -15%;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 28px;
}

.loginbox p,
.inscriptbox p,
.recupbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input,
.inscriptbox input,
.recupbox input,
.loginbox select,
.inscriptbox select,
.recupbox select,
.loginbox select option,
.inscriptbox select option,
.recupbox select option {
    width: 100%;
    margin-bottom: 20px;
}

input[type=text],
input[type=password],
select {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

option {
    background: rgba(0, 0, 0, 0.1);
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

input[type=submit] {
    border: none;
    outline: none;
    height: 40px;
    background: red;
    color: white;
    font-size: 18px;
    border-radius: 22px;
}

input[type=submit]:hover {
    cursor: pointer;
    font-size: 20px;
}

.loginbox a,
.inscriptbox a,
.recupbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(61, 169, 169);
    font-weight: bold;
}

.loginbox a:hover,
.inscriptbox a:hover,
.recupbox a:hover {
    color: white;
    text-decoration: underline;
}

.verif {
    height: auto;
    padding: 0px 0px 0px 0px;
}

.verif ul {
    padding: 3px 5px 0px 5px;
    list-style: none;
}

.verif ul li {
    font-size: 12px;
    line-height: 15px;
}

#infoI {
    width: 500px;
    height: auto;
    position: absolute;
    left: 22%;
    top: 12%;
}